
.selected{
	color:white;
    background-color: #236B8E;
    border:1px solid #236B8E;
	box-shadow:0px 0px;
}
.selected:hover{
			color:white;
background-color: #344152;
border:1px solid #344152;
box-shadow:0px 0px;
}

#resultBtn{
text-align:center; margin-top:3rem;
	
}

#answers{width:20rem; 
margin-bottom:0.5rem;
max-width: 100%;
word-wrap: break-word;}
h1{
	text-align:center; margin-bottom:3rem;
	
	
}
input[type='radio']{width: 8%; opacity: 0;}
